{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Education</h4>
      <p>Innovative outreach activities open a two-way dialogue with new communities about the science and public values behind synthetic biology. Activities do not have to relate directly to your project; they can address wider issues in iGEM or synthetic biology. The only requirement is that they promote scientific learning rather than market iGEM or synthetic biology. Document your approach and what everyone involved learned.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/awards/special">Special Awards page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2025.igem.wiki/heidelberg/education">2025 Heidelberg</a></li>
      <li><a href="https://2025.igem.wiki/queens-canada/education">2025 Queens-Canada</a></li>
      <li><a href="https://2025.igem.wiki/greatbay-scie/education">2025 GreatBay-SCIE</a></li>
      <li><a href="https://2025.igem.wiki/bnu-china/education">2025 BNU-China</a></li>
      <li><a href="https://2025.igem.wiki/leiden/education">2025 Leiden</a></li>
      <li><a href="https://2025.igem.wiki/jlu-cp/education">2025 JLU-CP</a></li>
    </ul>
  </div>
</div>

{% endblock %}
